a {
  color: #000;
  text-decoration: underline;
}

@media print {
  .print {
    display: block;
    font-family: "tyeif";
    font-size: 18pt;
    line-height: 1em;
  }
  .no-print {
    display: none;
  }
}

@media screen {
  .print {
    display: none;
  }
}

@font-face {
  font-family: "tyeif";
  src: url("../fonts/tyeif.woff");
}

.tyeif {
  font-size: 2em;
  font-family: "tyeif";
  line-height: 1em;
}

.main {
  background-image: url("../images/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
}

.navbar {
  background: linear-gradient(to right, #d5e4c7, #759f4b);
}

.large-font {
  font-size: 2em;
}

.med-font {
  font-size: 1em;
}

.navbar-item {
  color: #fff;
}

.dark-green-bg {
  background-color: #bed0bc;
}

.light-green-bg {
  background-color: #d5e4c7;
}

.textarea:active,
.textarea:focus {
  border-color: rgb(0 209 178 / 25%);
  box-shadow: 0 0 0 0.125em rgb(0 209 178 / 25%);
}

.light-gray-bg {
  background-color: hsl(0, 0%, 96%);
}

.last-updated {
  text-align: center;
  padding-bottom: 0.5em;
}

@media (max-width: 768px) {
  .large-font {
    font-size: 100%;
  }
  .med-font {
    font-size: 100%;
  }
  .main-hero {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  .outer-card {
    padding-left: 0em;
    padding-right: 0em;
  }
  .inner-card {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}

.font-size-control {
  width: 8em;
}

.print-modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.font-unit {
  color: #000;
}
